*.log
*.swp
*.sublime-project
*.sublime-workspace
.cache/*
.coveralls.yml
.coverage
.coverage/*
.serverless/*
.venv/*
.DS_Store
htmlcov/*
/node_modules
package-lock.json
/public/index.html
/public/bundle.js
/public/bundle.js.map
/public/*.svg
__pycache__/*